.testimonial-carousel {
    position: relative;
    bottom: 90px;
    max-width: 1000px;
    margin: 40px auto;
    overflow: hidden;
  }
  
  .carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* 3 slides */
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .slide img {
    width: 10%;
    border-radius: 15px;
  }
  
  .testimonial-text {
    background-color: #194D44;
    padding: 0 20px;
    border-radius: 15px;
    color: white;
    font-family: 'Montserrat';
    
    width: 584px;
  }
  .testimonial-text::before{
    content: url('assets/quote.svg');
    color: #2A7C6B;
    font-size: xx-large;
    position: relative;
    right: -290px;
    top: 40px;

}
  
  .testimonial-text h5 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .testimonial-text p {
    font-style: italic;
    font-size: 18px;
    width: 55%;
    height: fit-content;
  }
  
  .prev, .next {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: 24px;
    background: transparent;
    color: #EAEAEA;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
  }
  .prev:hover, .next:hover{
    color: #5BC8AF;
  }
  .prev { left: -15px; }
  .next { right: 0px; }
  
  .dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .dot {
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: #5BC8AF;
  }
  